<!DOCTYPE>
<html>
<head>
  <title>Scirate</title>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
</head>
<body>

	<%= render 'layouts/header'%>	
	
	<%= render 'layouts/content'%>
	
	<%= render 'layouts/footer' %>


</body>
</html>
